// Definições de variáveis
$corFundo: #ccc;
$corAmarelo: rgb(251, 200, 27);
$corBege: rgb(255, 241, 159);
$corPreto: #000;
$corCinza: rgb(71, 71, 71);
$corBranco: #fff;
$corAzul: #0080ff;
$sombra: 1px 1px 5px rgba(0, 0, 0, .70);
$sombra2: 1px 1px 3px rgba(0, 0, 0, .60);

// Definições gerais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// Definições do projeto
.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $corFundo;
}

.layout-calculadora {
    width: 400px;
    // height: 600px;
    background-color: $corAmarelo;
    border-radius: 5px;
    box-shadow: $sombra;
    padding: 25px;

    .display {
        width: 100%;
        height: 80px;
        background-color: $corPreto;
        border-radius: 5px;
        color: $corBranco;
        display: flex;
        justify-content: end;
        align-items: flex-end;
        font-size: 50px;
        padding: 10px;
        box-shadow: $sombra2;
    }

    .teclas {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        gap: 5px;
        margin-top: 10px;

        button {

            border: none;
            background-color: $corPreto;
            color: $corBranco;
            height: 70px;
            border-radius: 5px;
            // border-top: solid 3px rgb(26, 25, 25);
            // border-left: solid 3px rgb(34, 34, 34);
            font-size: 22px;
            box-shadow: $sombra2;
            cursor: pointer;

            &:hover {
                border-top: solid 3px rgb(52, 51, 51);
                border-left: solid 3px rgb(34, 34, 34); 
                background-color: rgb(15, 15, 15);
            }
        }
    }
}